<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <system>        
        <section id="faq" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>FAQ</label>
            <tab>magenuts</tab>
            <resource>Magenuts_Faq::config_faq</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Options</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="header_link" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add link in Header</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="footer_link" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add link in Footer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="page_url" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page URL</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="link_title" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Link Title</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="page_title" translate="label" type="textarea" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Page Title</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="page_description" translate="label" type="textarea" sortOrder="7" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Page Description</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="meta_title" translate="label" type="textarea" sortOrder="8" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Meta Title</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="meta_keywords" translate="label" type="textarea" sortOrder="9" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Meta Keywords</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="meta_description" translate="label" type="textarea" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Meta Description</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="page_layout" translate="label" type="select" sortOrder="11" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Page Layout</label>
                    <source_model>Magenuts\Faq\Model\Config\Source\Pagelayout</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="display_mode" translate="label" type="select" sortOrder="12" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Display Mode</label>
                    <source_model>Magenuts\Faq\Model\Config\Source\Mode</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="category_navigation_menu" translate="label" type="select" sortOrder="13" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Category Navigation Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="display_mode">category</field>
                    </depends>
                </field>
                <field id="category_url_prefix" type="text" sortOrder="14" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Category url prefix</label>
                    <depends>
                        <field id="category_navigation_menu">1</field>
                    </depends>
                </field>
                <field id="category_url_suffix" type="text" sortOrder="15" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Category url suffix</label>
                    <depends>
                        <field id="category_navigation_menu">1</field>
                    </depends>
                </field>
                <field id="view" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Expand / Collapse</label>
                    <source_model>Magenuts\Faq\Model\Config\Source\View</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="top_question_navigation_menu" translate="label" type="select" sortOrder="17"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Question Navigation Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>